services:
  db:
    image: postgres:15.0-alpine
    container_name: hmr_postgres
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - hmr_net

  back:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hmr_backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: local
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_EMAILS: ${ADMIN_EMAILS}
      SWAGGER_OAUTH2_REDIRECT_URL: ${SWAGGER_OAUTH2_REDIRECT_URL}
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    depends_on:
      - db
    networks:
      - hmr_net

volumes:
  postgres_data:

networks:
  hmr_net:
