spring:
  datasource:
    url: jdbc:h2:mem:hmrdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE # In-memory H2 database for integration tests
    driver-class-name: org.h2.Driver
    username: sa
    password:

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: fake-google-id-for-tests
            client-secret: fake-google-secret-for-tests
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            issuer-uri: https://accounts.google.com

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  flyway:
    enabled: false

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
